# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

Labs/.DS_Store
.DS_Store
Labs/Labb 1/avl_tree-test
Labs/Labb 1/avl_tree-test.dSYM/Contents/Info.plist
Labs/Labb 1/avl_tree-test.dSYM/Contents/Resources/DWARF/avl_tree-test
Labs/Labb 2/.DS_Store
Labs/Labb 2/.DS_Store
